<div class="details">
  <div class="game-banner" style="height: 450px; overflow: hidden" >
    <img
      class="game-banner-img"
      src="{{ game?.background_image }}"
      alt="background image"
    />
  </div>
  <div class="game-content header-text">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">{{ game?.name }}</h1>
        <h2 class="game-header">
          Release: {{ game?.released | date }}
        </h2>
        <p class="game">
            <span *ngFor="let genre of game?.genres; let last = last"
            >{{ genre?.name }}<span *ngIf="!last">, </span></span
            >
        </p>
        <div class="game-gauge">
          <a
            class="game-header" style="text-decoration: underline"
            target="_blank"
            href="{{ game?.metacritic_url }}"
          >Metacritic</a
          >
        </div>
      </div>
    </div>
    <app-game-tabs [game]="game"></app-game-tabs>

  </div>
</div>



